<ion-tabs>

  <ion-tab-bar slot="bottom" >
    <ion-tab-button tab="tab1" disabled="{{grupTab1}}">
      <ion-icon name="flash"></ion-icon>
      <ion-label>HOME</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" disabled="{{grupTab2}}">
        <ion-icon name="send"></ion-icon>
        <ion-label>RECEPTION</ion-label>
     </ion-tab-button>

    <ion-tab-button tab="tab2" disabled="{{grupTab3}}">
      <ion-icon name="apps"></ion-icon>
      <ion-label>TRACING</ion-label>
    </ion-tab-button>


  </ion-tab-bar>

</ion-tabs>
