<ion-header class="header_was">
  <ion-toolbar>
    <ion-title>
      WASHING TILLAS COQUER ( SOLICITUD )
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
     
      <ion-card-header>
        <ion-card-subtitle class="titlePrinc">Solicitud del servicio</ion-card-subtitle>
        <!-- <ion-card-title>Welcome to Ionic</ion-card-title> -->
      </ion-card-header>
      <ion-card-content>
          <ion-card class="productos">
            <ion-card-header>
              <ion-card-subtitle class="titleProd">Tipo de calzado</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ion-col>                   
                        <ion-select interface="popover" class="productoSelect" >
                          <ion-select-option  class="productoSelectOp" value="-1" selected="true" >Seleccione un producto</ion-select-option>
                          <ion-select-option  class="productoSelectOp" value="76">Valle Del Cauca</ion-select-option>
                          <ion-select-option  class="productoSelectOp" value="5">Eje Cafetero</ion-select-option>
                        </ion-select>
                </ion-col>
            </ion-card-content>
          </ion-card> 
          <ion-card class="productos">
              <ion-card-header>
                <ion-card-subtitle class="titleProd" >Color</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                  <ion-col>                   
                          <ion-select interface="popover" class="productoSelect" >
                            <ion-select-option  class="productoSelectOp" value="-1" selected="true" >Seleccione un producto</ion-select-option>
                            <ion-select-option  class="productoSelectOp" value="76">Valle Del Cauca</ion-select-option>
                            <ion-select-option  class="productoSelectOp" value="5">Eje Cafetero</ion-select-option>
                          </ion-select>
                  </ion-col>
              </ion-card-content>
          </ion-card> 
          <ion-card class="productos">
              <ion-card-header>
                <ion-card-subtitle class="titleProd">Talla</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                  <ion-col>                   
                          <ion-select interface="popover" class="productoSelect" >
                            <ion-select-option  class="productoSelectOp" value="-1" selected="true" >Seleccione un producto</ion-select-option>
                            <ion-select-option  class="productoSelectOp" value="76">Valle Del Cauca</ion-select-option>
                            <ion-select-option  class="productoSelectOp" value="5">Eje Cafetero</ion-select-option>
                          </ion-select>
                  </ion-col>
              </ion-card-content>
            </ion-card> 
            <ion-card class="productos">
                <ion-card-header>
                  <ion-card-subtitle class="titleProd">Material</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <ion-col>                   
                            <ion-select interface="popover" class="productoSelect" >
                              <ion-select-option  class="productoSelectOp" value="-1" selected="true" >Seleccione un producto</ion-select-option>
                              <ion-select-option  class="productoSelectOp" value="76">Valle Del Cauca</ion-select-option>
                              <ion-select-option  class="productoSelectOp" value="5">Eje Cafetero</ion-select-option>
                            </ion-select>
                    </ion-col>
                </ion-card-content>
              </ion-card> 
              <ion-card class="productos">
                  <ion-card-header>
                    <ion-card-subtitle class="titleProd">Tipo de lavado</ion-card-subtitle>
                  </ion-card-header>
                  <ion-card-content>
                      <ion-col>                   
                              <ion-select interface="popover" class="productoSelect" >
                                <ion-select-option  class="productoSelectOp" value="-1" selected="true" >Seleccione un producto</ion-select-option>
                                <ion-select-option  class="productoSelectOp" value="76">Valle Del Cauca</ion-select-option>
                                <ion-select-option  class="productoSelectOp" value="5">Eje Cafetero</ion-select-option>
                              </ion-select>
                      </ion-col>
                  </ion-card-content>
                </ion-card>                 
      </ion-card-content>
    </ion-card>
    <ion-card class="paquetes">
        <ion-card-header>
          <ion-card-subtitle class="titleProd2">PAQUETES</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <ion-row>
              <ion-col>                               
                <ion-select interface="popover" class="productoSelect" >
                  <ion-select-option  class="productoSelectOp" value="-1" selected="true" >Seleccione un producto</ion-select-option>
                  <ion-select-option  class="productoSelectOp" value="76">Valle Del Cauca</ion-select-option>
                  <ion-select-option  class="productoSelectOp" value="5">Eje Cafetero</ion-select-option>
                </ion-select>
              </ion-col>
              <ion-col >                
                  Descripcion del paquete
                  <div class="infoPaq">
                    
                  </div>
                
              </ion-col>
            </ion-row>
        </ion-card-content>
      </ion-card> 
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>DESCRIPCION DE LA SOLICITUD</ion-label>
      </ion-list-header>

    </ion-list>
    <ion-item>

        <button ion-item class="solicitudBtn" color="primary">SOLICITAR</button>   
    </ion-item>  
</ion-content>
